    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Pop-up</title>
    <link rel="stylesheet" href="/assets/css2.0/home.css">

  
</head>
<body>
<div class="container">
      <img src="/images/logo.png" alt="Logo" class="logo" width="150px">
        <h2>WELCOME TO UPES DASHBOARD</h2>

        <div class="box">
            <a href="/registration">
            <h3>SCHOLAR PROFILE</h3>
        
            <p>Your profile information goes here.</p>
            </a>
        </div>
        <div class="box">
            <a href="programdetails">
            <h3>PROGRAM DETAILS</h3>
            
            <p>Your program details go here.</p>

            </a>
        </div>

         <div class="box">
            <a href="paperpublication">
            <h3>PAPER PUBLICATION</h3>
            
            <p>Your paper publication goes here.</p>

            </a>
    </div>

  

    <script src="/script/home.js"></script>
</body>
</html>


