<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Portal</title>
    <link rel="stylesheet" href="/assets/css2.0/mainpage.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="/images/VID_20240916195457.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <nav>
        <ul>
            <li><a href="/scholarlogin">Scholar Login</a></li>
            <li><a href="/adminlogin">Admin Login</a></li>
             <li><a href="/guideview">Guide View</a></li>
        </ul>
    </nav>

    <img src="/images/logo.png" alt="Logo" class="logo" width="250px">
    
    <div class="content">
        <h1><b><u>
    <marquee behavior="scroll" direction="left">
        <span style="color: black; white-space: nowrap;">
           <b>WELCOME &nbsp;&nbsp; TO &nbsp;&nbsp; THE &nbsp;&nbsp; SCHOLAR &nbsp;&nbsp; PORTAL</b>
        </span>
    </marquee>
</u></b></h1>

    </div>
</body>
</html>
